* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
.env.example text eol=lf
.python-version text eol=lf
info/* text eol=lf

*.sh text eol=lf
*.py text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.lock text eol=lf

*.bat text eol=crlf
*.ps1 text eol=crlf
